
.body {
    padding: 5vh 5vw 0 5vw;
}
.congratulationMsg {
    padding-top: 10vh;
    display: block;
    height: 80vh;
}

.footer {
    text-align: right;
}

.searchBtn {
    text-align: right;
}

.footerBtn {
    margin-right: 1vw;
    width: 10vw;
}
